# Python virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Data and outputs
data/
outputs/
results/

# Jupyter
.ipynb_checkpoints/

# Editor / OS
.DS_Store
.vscode/
.idea/

# CodeCarbon
credentials.json
.codecarbon.config

